.table {
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    padding: .25rem;
    transition: border-color .2s ease;
    width: 28%;
    height: 300px;
    position: absolute;
    left: 30px;
    top: 50px;
}

.td {
    background-color: salmon;
    width: 80px;
    height: 90px;
}